[submodule "Homeworks/1"]
	path = Homeworks/1
	url = https://github.com/GoJIub/OOP_lab1.git
[submodule "Homeworks/2"]
	path = Homeworks/2
	url = https://github.com/GoJIub/OOP_lab2.git
[submodule "Homeworks/3"]
	path = Homeworks/3
	url = https://github.com/GoJIub/OOP_lab3.git
[submodule "Homeworks/4"]
	path = Homeworks/4
	url = https://github.com/GoJIub/OOP_lab4.git
[submodule "Homeworks/5"]
	path = Homeworks/5
	url = https://github.com/GoJIub/OOP_lab5.git
